<div style="height:@ViewBag.DHeight;" class="dropify-wrapper">
    <div class="dropify-message">
        <span class="fa fa-plus-square fa-4x"></span> 
        <p>Click here to Select Dashboard Element</p>
    </div>
    <input type="button" id="input-file-now" class="dropify">
</div>